version: '3'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_usuario
    ports:
      - "3306:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "usuarios"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data: